.header {
    width: 96%;
    margin-top: 40px;
    background: #1C1C21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: max-content;
    height: max-content;
    display: flex;
}

.container {
    width: 178px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 11px;
}
.container:last-child {
    margin-left: 8px;
}

.name {
    margin: 16px 0 16px 9px;

    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #F2F2F3;
}